* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    width: 85%;
    height: 4.35rem;
    background-color: blueviolet;
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
}

#sidebar {
    width: 15%;
    height: 100vh;
    background-color: blueviolet;
}

#sidebar li {
    color: white;
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: left;
}

#sidebar li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.container1 {
    width: 300px;
    height: 650px;
    background-color: blueviolet;
    position: absolute;
    top: 70px;
    left: 960px;
}

.recentfeeds {
    color: white;
    text-align: center;
    border-bottom: 1px solid gray;
}

.viewalltopics {
    color: white;
    text-align: left;
    padding-left: 25px;
}

.viewalltopics ul li {
    padding-top: 85px;
    padding-left: 10px;
}

.container2 {
    width: 330px;
    height: 250px;
    background-color: blueviolet;
    position: absolute;
    top: 70px;
    left: 520px;
}

.discovernewideas {
    color: white;
    text-align: center;
    border-bottom: 1px solid grey;
}

.discovernewideas h3 {
    color: white;
    text-decoration: none;
}

.browse {
    color: white;
    padding-left: 20px;
}

.categories {
    color: white;
    text-align: left;
    padding-left: 10px;
}

.container3 {
    width: 330px;
    height: 250px;
    background-color: blueviolet;
    position: absolute;
    top: 400px;
    left: 520px;
}

.radar {
    text-align: center;
}

.radar h3 {
    color: white;
    padding-top: 5px;
}

.date h4 {
    padding-left: 15px;
    color: white;
}

.vertical {
    border-left: 2px solid white;
    height: 220px;
    position: absolute;
    left: 100px;
    top: 30px;
}

.task h4 {
    margin-top: 5px;
}

table {
    width: 600px;
    box-shadow: -1px 12px 12px -6px;
    background-color: rgba(red, green, blue, alpha);
}

table,
td,
th {
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
}

td {
    font-size: 18px;
}

th {
    background-color: blue;
    color: white;
}

tr:nth-child(even) {
    background-color: lightblue;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even):hover {
    background-color: dodgerblue;
    color: white;
}

tr:nth-child(odd):hover {
    background-color: white;
    color: dodgerblue;
}

#btn-overview,
#btn-post {
    width: 150px;
    height: 50px;
    border: none;
    color: white;
    background-color: rgb(255, 0, 68);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 15px;
    outline: none;
}

#btn-overview:hover,
#btn-post:hover {
    box-shadow: inset 300px 0 0 0 #f93506;
    cursor: pointer;
    color: #000
}
