* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #F5ECF5;
}

.navbar {
    position: absolute;
    background: #F0F1F3;
    width: 100%;
    height: 10%;
    padding: 0px;
    right: 0px;
    top: 0px;
}

.logo {
    position: absolute;
    top: 15%;
    left: 7.7%;
}

.form-inline {
    position: absolute;
    width: 35.4%;
    height: 45.7%;
    left: 29.14%;
    top: 27.14%;
    padding: 0%;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
}

.dropdown-toggle {
    background-color: blue;
}

.form-inline .btn-primary {
    background: #E0E0E0;
    border: none;
    border-radius: 0px;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 12.8%;
    color: #233A6C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
}

.input-search {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 13%;
    top: 0%;
    padding: 2px;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    border: none;
    /* line-height: 16px; */
    /* identical to box height */
}

.btn-secondary {
    background-color: #FFB400;
    border-radius: 0px;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 7%;
    height: 100%;
    border: none;
}

.btn-secondary .fa-search {
    color: #233A6C;
}

.navbar .Refer a {
    position: absolute;
    left: 66.64%;
    top: 37.5%;
    width: 7.42%;
    height: 30.56%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17.5px;
    line-height: 19px;
    color: #595959;
}

.navbar .vertical-line1 {
    border-right: 1px solid rgba(89, 89, 89, 0.5);
    position: absolute;
    left: 74.5%;
    top: 37.5%;
    bottom: 37.5%;
}

.navbar .Help a {
    position: absolute;
    left: 75.45%;
    top: 37.5%;
    width: 10.42%;
    height: 30.56%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17.5px;
    line-height: 19px;
    color: #595959;
}

.navbar .vertical-line2 {
    border-right: 1px solid rgba(89, 89, 89, 0.5);
    position: absolute;
    left: 84.45%;
    top: 37.5%;
    bottom: 37.5%;
}

.navbar .Picture {
    position: absolute;
    left: 86%;
    right: 10%;
    top: 10%;
    width: 4%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
}

.navbar .fa-angle-down {
    position: absolute;
    width: 8px;
    height: 3.95px;
    right: 8.5%;
    top: 42%;
    font-size: 20px;
    color: #595959;
    border: none;
}


/* navbar2 */

.navbar2 {
    position: absolute;
    top: 10%;
    width: 100%;
    background-color: #233A6C;
    color: white;
    height: 7%;
    font-size: 20px;
}


/* .navbar2-links{
    height: 50px;
    position: absolute;
    left: 20%;
} */

.navbar2 .Product a {
    width: 15%;
    position: absolute;
    left: 12.5%;
    top: 20%;
    color: #E5E5E5;
}

.navbar2 .Mobile_Apps a {
    width: 15%;
    position: absolute;
    left: 22.5%;
    top: 20%;
    color: #E5E5E5;
}

.navbar2 .Merchants a {
    width: 15%;
    position: absolute;
    left: 35%;
    top: 20%;
    color: #E5E5E5;
}

.navbar2 .Publishers a {
    width: 15%;
    position: absolute;
    left: 47.5%;
    top: 20%;
    color: #E5E5E5;
}

.navbar2 .About_Us a {
    width: 15%;
    position: absolute;
    left: 60%;
    top: 20%;
    color: #E5E5E5;
}

.navbar2 .Contact_Us a {
    width: 15%;
    position: absolute;
    left: 72.5%;
    top: 20%;
    color: #E5E5E5;
}

.navbar2 #active {
    font-weight: bolder;
}

.sidebar {
    position: absolute;
    width: 9.21875%;
    height: 80%;
    left: 8.984%;
    top: 20%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Roboto;
    font-style: bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
}

.sidebar a {
    color: #595959;
}

.sidebar .active {
    color: #D00000;
}

.sidebar .grid-img {
    position: absolute;
    width: 24px;
    height: 24.41px;
    left: 45%;
    top: 14%;
}

.sidebar #Dashboard {
    position: absolute;
    top: 20%;
    left: 17%;
}

.sidebar .fa-user {
    position: absolute;
    left: 42%;
    top: 30%;
    width: 30px;
    height: 35px;
    font-size: 30px;
    color: #595959;
}

.sidebar #Profile {
    position: absolute;
    top: 37%;
    left: 30%;
}

.sidebar .fa-bullhorn {
    position: absolute;
    left: 40%;
    top: 48%;
    font-size: 30px;
    transform: rotate(-24.82deg);
}

.sidebar #Campaign {
    position: absolute;
    left: 20%;
    top: 55%;
}

.sidebar .fa-cog {
    font-size: 33px;
    position: absolute;
    left: 39%;
    top: 65%;
}

.sidebar #Settings {
    position: absolute;
    left: 27%;
    top: 72%;
}


/* Sidebar ends */


/* Card for content */

.card {
    position: absolute;
    top: 20%;
    left: 19.375%;
    background: #FFFFFF;
    box-shadow: -4px 0px 4px rgba(89, 89, 89, 0.21), 2px 4px 5px rgba(0, 0, 0, 0.25);
    width: 71.5625%;
    height: 1734px;
}

.card .Profile {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 227.52px;
}

.card .Picture-img {
    position: absolute;
    left: 3%;
    top: 25px;
    width: 152px;
    height: 174.13px;
}

.card #Name {
    position: absolute;
    left: 206px;
    top: 27px;
    position: absolute;
    width: 154px;
    height: 19px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #595959;
}

.card .fa-facebook-f {
    position: absolute;
    top: 77.84px;
    left: 203px;
    font-size: 30px;
    color: #0172D0;
}

.card #facebook-id {
    position: absolute;
    top: 68px;
    left: 227px;
    color: #00000;
}

.card #likes {
    position: absolute;
    top: 90px;
    left: 227px;
    color: #00000;
}

.card .instagram-account {
    position: absolute;
    left: 360px;
    top: 72.61px;
    width: 22.37px;
    height: 22.37px;
}

.card .Instagram-icon {
    position: absolute;
    left: 360px;
    top: 77.84px;
    width: 32.37px;
    height: 32.37px;
}

.card #instagram-id {
    position: absolute;
    top: 68px;
    left: 400.52px;
    color: #00000;
}

.card #followers {
    position: absolute;
    top: 90px;
    left: 400.52px;
    color: #00000;
}

.card .Profile .fa-youtube {
    color: #D00000;
    position: absolute;
    top: 74.3px;
    left: 530px;
    font-size: 30px;
}

.card #youtube-id {
    position: absolute;
    top: 68px;
    left: 568.52px;
    color: #00000;
}

.card #subscribers {
    position: absolute;
    top: 90px;
    left: 568.52px;
    color: #00000;
}

.card #text1 {
    position: absolute;
    width: 761px;
    height: 54px;
    left: 206px;
    top: 140px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    color: #595959;
}

.card .Campaigns {
    position: absolute;
    top: 227.52px;
    border-top: 1px solid #C4C4C4;
    width: 100%;
    height: 137.48px;
    border-bottom: 1px solid #C4C4C4;
}


/* Campaigns Request */

.card .Campaigns .Campaigns_Requests {
    position: absolute;
    width: 153px;
    height: 93px;
    left: 47px;
    top: 25.48px;
}


/* Campaigns Accepted */

.card .Campaigns .Campaigns_Accepted {
    position: absolute;
    width: 153px;
    height: 93px;
    left: 278px;
    top: 25.48px;
}


/* Total Impressions */

.card .Campaigns .Total_Impressions {
    position: absolute;
    width: 153px;
    height: 93px;
    left: 522px;
    top: 25.48px;
}


/* Appreciations */

.card .Campaigns .Appreciations {
    position: absolute;
    width: 153px;
    height: 93px;
    left: 754px;
    top: 25.48px;
}

.card .Campaigns .icon {
    position: absolute;
    left: 29px;
    top: 0px;
    width: 57px;
    height: 57px;
    background: #D8E7FE;
    border-radius: 50%;
}

.card .Campaigns .Campaigns_Accepted .icon {
    background: rgba(184, 250, 187, 0.55);
}

.card .Campaigns .Total_Impressions .icon {
    background: #FFE2E1;
}

.card .Campaigns .Appreciations .icon {
    background: rgba(255, 222, 169, 0.71);
}

.card .Campaigns .icon .fa-envelope {
    position: absolute;
    top: 7.3px;
    left: 6.15px;
    width: 33px;
    height: 26px;
    font-size: 30px;
    color: #01747B;
    transform: rotate(-36.74deg);
}

.card .Campaigns .icon .fa-arrow-left {
    position: absolute;
    top: 24.34px;
    left: 29.11px;
    width: 10.4px;
    height: 1px;
    font-size: 20px;
    color: #01747B;
}

.card .Campaigns .icon .fa-check-circle {
    position: absolute;
    left: 13px;
    top: 14px;
    font-size: 30px;
    color: #269545;
}

.card .Campaigns .Total_Impressions .icon .fa-eye {
    position: absolute;
    left: 11.5px;
    top: 14px;
    font-size: 30px;
    color: #DE3F39;
}

.card .Campaigns .icon .fa-thumbs-up {
    position: absolute;
    left: 14px;
    top: 11px;
    font-size: 30px;
    color: #D18302;
}

.card .Campaigns .num {
    position: absolute;
    left: 100px;
    top: 9px;
    width: 45px;
    height: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #233A6C;
}

.card .Campaigns #text1 {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 100%;
    height: 21px;
    color: #595959;
}

.card .Campaigns #text2 {
    position: absolute;
    top: 85px;
    left: 11px;
    width: 120px;
    height: 18px;
    font-size: 12.5px;
    color: #595959;
}


/* Analysis */

.card .Analysis {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 500px;
}

.card .Analysis #Analytics {
    position: absolute;
    top: 0 px;
    left: 3.8%;
    width: 11.46%;
    height: 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #595959;
}

.card .Analysis .Duration {
    position: absolute;
    top: 23px;
    right: 5.895%;
    height: 35px;
    width: 16.92%;
}

.card .Analysis .Duration .btn-primary {
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    color: #595959;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 3px;
}

.card .Analysis .Analysis-box {
    position: absolute;
    top: 69px;
    left: 5.68%;
    height: 378px;
    width: 88.43%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
}

.card .Analysis .Analysis-box .btns {
    width: 19.21%;
    height: 100%;
}

.card .Analysis .Analysis-box .btns button {
    height: 33.333%;
    width: 100%;
    background: #F4F4F4;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: inset -3px 0px 4px rgba(0, 0, 0, 0.25);
}

.card .Analysis .Analysis-box .btns #active {
    background: #FFFFFF;
    box-sizing: none;
    box-shadow: none;
    border: none;
}

.card .Analysis .Analysis-box .btns #num1,
.card .Analysis .Analysis-box .btns #num2,
.card .Analysis .Analysis-box .btns #num3 {
    position: absolute;
    left: 65px;
    height: 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #233A6C;
}

.card .Analysis .Analysis-box .btns #num1 {
    top: 27px;
}

.card .Analysis .Analysis-box .btns #num2 {
    top: 149px;
}

.card .Analysis .Analysis-box .btns #num3 {
    top: 272px;
}

.card .Analysis .Analysis-box .btns #heading1,
.card .Analysis .Analysis-box .btns #heading2,
.card .Analysis .Analysis-box .btns #heading3 {
    position: absolute;
    height: 42px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #595959;
}

.card .Analysis .Analysis-box .btns #heading1 {
    top: 66px;
    left: 46px;
}

.card .Analysis .Analysis-box .btns #heading2 {
    top: 188px;
    left: 56px;
}

.card .Analysis .Analysis-box .btns #heading3 {
    top: 311px;
    left: 38px;
}

.card .Analysis .Analysis-box #txt {
    position: absolute;
    left: 31.11%;
    top: 12px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #595959;
}

.card .Analysis .Analysis-box .chart {
    position: absolute;
    left: 31.23%;
    top: 0px;
    width: 65.89%;
    height: 356px;
}

.card .Analysis .Analysis-box .chart #Total_Impressions-chart {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.card .Analysis .Analysis-box .time-period {
    position: absolute;
    top: 336px;
    left: 64.7%;
    width: 13.58%;
    height: 21px;
}

.card .Analysis .Analysis-box .Total {
    width: 9.26%;
    height: 21px;
    position: absolute;
    top: 335px;
    left: 85.3%;
}

.card .Campaigns_Requests {
    position: absolute;
    top: 600px;
    width: 100%;
    height: 560px;
}

.card .Campaigns_Requests #heading {
    position: absolute;
    top: 38px;
    left: 6.11%;
    height: 19px;
    width: 315px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #595959;
}

.card .Campaigns_Requests .Requests {
    position: absolute;
    top: 77px;
    left: 6.22%;
    width: 88.43%;
    height: 483px;
}

.card .Requests .Request1,
.card .Requests .Request2,
.card .Requests .Request3 {
    height: 143px;
    width: 100%;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
}

.card .Requests .Request1 #name1,
.card .Requests .Request2 #name2,
.card .Requests .Request3 #name3 {
    position: absolute;
    top: 16px;
    left: 15.8%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #595959;
}

.card .Requests .Request1 #date1,
.card .Requests .Request2 #date2,
.card .Requests .Request3 #date3 {
    position: absolute;
    top: 47px;
    left: 15.8%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #595959;
}

.card .Requests .Request1 #status1,
.card .Requests .Request2 #status2,
.card .Requests .Request3 #status3 {
    position: absolute;
    top: 44px;
    left: 31.73%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #DD403A;
}

.card .Requests .Request1 #text1,
.card .Requests .Request2 #text2,
.card .Requests .Request3 #text3 {
    position: absolute;
    top: 82px;
    left: 15.8%;
    width: 80%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #595959;
}

.card .Requests .Request1 .fa-calendar-alt,
.card .Requests .Request2 .fa-calendar-alt,
.card .Requests .Request3 .fa-calendar-alt {
    position: absolute;
    top: 10px;
    left: 75.43%;
    font-size: 30px;
    color: #595959;
}

.card .Requests .Request1 #Campaign_Scheduled1,
.card .Requests .Request2 #Campaign_Scheduled2,
.card .Requests .Request3 #Campaign_Scheduled3 {
    position: absolute;
    top: 6px;
    left: 79.5%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #595959;
}

.card .Requests .Request1 #interval1,
.card .Requests .Request2 #interval2,
.card .Requests .Request3 #interval3 {
    position: absolute;
    top: 31px;
    left: 79.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    color: #595959;
}

.card .Requests .View_All {
    height: 57px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    color: #14213D;
    font-weight: 500;
}

.card .Followers-Messages {
    position: absolute;
    top: 1372px;
    width: 100%;
}

.card .Followers-Messages #heading {
    position: absolute;
    top: 44px;
    left: 6.11%;
    width: 34.38%;
    height: 19px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #595959;
}

.card .Followers-Messages .Message {
    position: absolute;
    top: 81px;
    left: 6.22%;
    width: 45.74%;
    height: 188px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
}

.card .Followers-Messages .Message .name-icon {
    position: absolute;
    top: 11.81px;
    left: 3.57%;
    width: 70px;
    height: 70px;
    background: #F0BBD1;
    border-radius: 50%;
}

.card .Followers-Messages .Message #name {
    position: absolute;
    top: 15px;
    left: 23.39%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    height: 19px;
    width: 28%;
    color: #595959;
    font-size: 20px;
}

.card .Followers-Messages .Message #icon {
    position: absolute;
    left: 15px;
    top: 11.81px;
    width: 59px;
    height: 59px;
}

.card .Followers-Messages .Message #date {
    position: absolute;
    top: 15px;
    right: 36px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    height: 19px;
    width: 20%;
    color: #595959;
    font-size: 17px;
}

.card .Followers-Messages .Message .fa-angle-right {
    position: absolute;
    top: 80px;
    left: 92.84%;
    color: #595959;
    font-size: 40px;
}

.card .Followers-Messages .Message .fa-thumbs-up {
    position: absolute;
    left: 25.39%;
    top: 52px;
    font-size: 25px;
    color: #2B9348;
}

.card .Followers-Messages .Message .fa-heart {
    position: absolute;
    top: 53px;
    left: 33.4%;
    font-size: 25px;
    color: #D00000;
}

.card .Followers-Messages .Message #text {
    position: absolute;
    top: 108px;
    left: 15px;
    width: 87.8%;
    height: 54px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    color: #595959;
}

.card .Followers-Messages #gifts {
    position: absolute;
    top: 45px;
    left: 57.42%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #595959;
}

.card .Followers-Messages .gift-icon {
    position: absolute;
    top: 93px;
    left: 57.97%;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    border: 1px solid #233A6C;
}

.card .Followers-Messages #num-gifts {
    position: absolute;
    top: 225px;
    left: 61.2%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 72px;
    color: #233A6C;
}

.card .Followers-Messages .gift-icon .fa-gift {
    position: absolute;
    left: 35px;
    top: 26px;
    color: #233A6C;
    font-size: 60px;
}

.card .Followers-Messages #badges {
    position: absolute;
    top: 45px;
    left: 76.75%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #595959;
}

.card .Followers-Messages .badge-icon {
    position: absolute;
    top: 93px;
    left: 77%;
    width: 129px;
    height: 129px;
    border-radius: 50%;
    border: 1px solid #DD403A;
}

.card .Followers-Messages .badge-icon .fa-medal {
    position: absolute;
    left: 29px;
    top: 24px;
    color: #D00000;
    font-size: 70px;
}

.card .Followers-Messages #num-badge {
    position: absolute;
    top: 225px;
    left: 82.2%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 72px;
    color: #DD403A;
}

.card .Followers-Messages .View_All {
    position: absolute;
    top: 268px;
    left: 6.22%;
    width: 45.74%;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    color: #14213D;
    font-weight: 500;
}


/* page-footer */

.page-footer {
    position: absolute;
    width: 100%;
    height: 368px;
    left: 0px;
    top: 1920px;
    background: #233A6C;
}

.page-footer .fa-facebook-square,
.page-footer .fa-twitter-square,
.page-footer .fa-instagram {
    position: absolute;
    top: 23.985%;
    color: #E5E5E5;
    font-size: 35px;
}

.page-footer .fa-facebook-square {
    left: 8.8%;
}

.page-footer .fa-twitter-square {
    left: 11.69%;
}

.page-footer .fa-instagram {
    left: 14.654%;
}

.page-footer .fa-linkedin-in {
    position: absolute;
    left: 17.62%;
    top: 23.985%;
    background-color: #E5E5E5;
    color: #233A6C;
    font-size: 28px;
    width: 2.1%;
    height: 8.4%;
    border-radius: 3px;
    padding: 1.5px;
}

.page-footer .Email {
    position: absolute;
    left: 8.8%;
    top: 39.656%;
    width: 15.72%;
    height: 9.14%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #E5E5E5;
}

.page-footer .Get_our_app {
    position: absolute;
    left: 8.8%;
    top: 59.656%;
    width: 6.546%;
    height: 1.65%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #E5E5E5;
}

.page-footer .Company,
.page-footer .Quick_link,
.page-footer .Policy {
    position: absolute;
    top: 10%;
    color: #E5E5E5;
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 23.85px;
    line-height: 27px;
}

.page-footer .Company a,
.page-footer .Quick_link a,
.page-footer .Policy a {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    padding: 2px;
    color: #E5E5E5;
}

.page-footer .Company {
    left: 40%;
}

.page-footer .Quick_link {
    left: 60%;
}

.page-footer .Policy {
    left: 80%;
}

.page-footer .footer-copyright {
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    bottom: 0%;
    background: #14213D;
    color: #FFFFFF;
}

.page-footer .footer-copyright a {
    color: #FFFFFF;
}


/* page footer ends */

.create-coupan {
    position: absolute;
    left: 500px;
    height: 40px;
    width: 150px;
    background-color: #FFB400;
    display: block;
    bottom: auto;
}

#new-coupan {
    position: absolute;
    top: 30px;
    height: 40px;
    width: 150px;
    left: 30px;
    background-color: #FFB400;
    display: block;
}

.coupan-search {
    position: absolute;
    top: 30px;
    right: 80px;
    height: 40px;
}

#btn-s {
    position: absolute;
    top: 30px;
    right: 40px;
    height: 40px;
    width: 40px;
    background-color: #FFB400;
}

.coupan-drop {
    position: absolute;
    top: 30px;
    right: 257px;
    height: 40px;
    width: 80px;
}
